Repository palemoky/leetcode: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofumpt, goimports, go-mod-tidy, mypy, pytest, go-test, cargo-test

Path conditions:
  gofumpt: any of: ^go/ and \.go$
  goimports: any of: ^go/ and \.go$
  go-mod-tidy: any of: ^go/ and \.go$
  mypy: any of: ^python/ and \.py$
  pytest: any of: ^python/ and \.py$
  go-test: any of: ^go/ and \.go$
  cargo-test: any of: ^rust/

feat: solved problem #2410
  go/solutions/2410_maximum_matching_of_players_with_trainers/maximum_matching_of_players_with_trainers.go
  go/solutions/2410_maximum_matching_of_players_with_trainers/maximum_matching_of_players_with_trainers_test.go
Due: gofumpt, goimports, go-mod-tidy, go-test

feat: solved problem #56
  go/solutions/0056_merge_intervals/merge_intervals.go
  go/solutions/0056_merge_intervals/merge_intervals_test.go
Due: gofumpt, goimports, go-mod-tidy, go-test

docs: add sorting example for 2D arrays and update README for Go language tips
  docs/lang/go/README.md
  go/solutions/0056_merge_intervals/merge_intervals.go
Due: gofumpt, goimports, go-mod-tidy, go-test

docs: update README to clarify 2D array initialization and add sorting example
  docs/lang/go/README.md
Due: none

docs: update Go README to enhance clarity and add examples for linked lists and greedy algorithms
  docs/checklist/README.md
  docs/checklist/go/README.md
Due: none

feat: solved problem #435
  go/solutions/0435_non_overlapping_intervals/non_overlapping_intervals.go
  go/solutions/0435_non_overlapping_intervals/non_overlapping_intervals_test.go
Due: gofumpt, goimports, go-mod-tidy, go-test

docs: enhance README and comments for problem #435 with detailed explanations
  docs/checklist/README.md
  go/solutions/0435_non_overlapping_intervals/non_overlapping_intervals.go
Due: gofumpt, goimports, go-mod-tidy, go-test

feat: solved problem #452
  go/solutions/0452_minimum_number_of_arrows_to_burst_balloons/minimum_number_of_arrows_to_burst_balloons.go
  go/solutions/0452_minimum_number_of_arrows_to_burst_balloons/minimum_number_of_arrows_to_burst_balloons_test.go
Due: gofumpt, goimports, go-mod-tidy, go-test

feat: add solution and explanation for problem #746 - minimum cost climbing stairs
  docs/checklist/README.md
  docs/checklist/go/README.md
  go/solutions/0746_min_cost_climbing_stairs/min_cost_climbing_stairs.go
Due: gofumpt, goimports, go-mod-tidy, go-test

feat: solved problem #134
  go/solutions/0134_gas_station/gas_station.go
  go/solutions/0134_gas_station/gas_station_test.go
Due: gofumpt, goimports, go-mod-tidy, go-test

feat: solved problem #128
  go/solutions/0128_longest_consecutive_sequence/longest_consecutive_sequence.go
  go/solutions/0128_longest_consecutive_sequence/longest_consecutive_sequence_test.go
Due: gofumpt, goimports, go-mod-tidy, go-test

feat: update README with additional problems and explanations for Go language
  docs/checklist/README.md
  docs/checklist/go/README.md
  docs/lang/go/README.md
Due: none

refactor: replace struct{} with bool in hash maps for memory efficiency
  docs/checklist/go/README.md
  docs/lang/go/README.md
  go/solutions/0015_three_sum/three_sum.go
  go/solutions/0141_linked_list_cycle/has_cycle.go
  go/solutions/0142_find_linked_list_cycle_entry/detect_cycle.go
  go/solutions/0160_intersection_of_two_linked_lists/intersection_of_two_linked_lists.go
  go/solutions/0217_contains_duplicate/contains_duplicate.go
Due: gofumpt, goimports, go-mod-tidy, go-test

feat: solved problem #11
  go/solutions/0011_container_with_most_water/container_with_most_water.go
  go/solutions/0011_container_with_most_water/container_with_most_water_test.go
Due: gofumpt, goimports, go-mod-tidy, go-test

feat: update go checklist
  docs/checklist/README.md
  docs/checklist/go/README.md
Due: none

feat: solved problem #560
  docs/checklist/go/README.md
  go/solutions/0560_subarray_sum_equals_k/subarray_sum_equals_k.go
  go/solutions/0560_subarray_sum_equals_k/subarray_sum_equals_k_test.go
Due: gofumpt, goimports, go-mod-tidy, go-test

fix: correct condition for checking duplicate triplets in threeSumBruteForce
  go/solutions/0015_three_sum/three_sum.go
Due: gofumpt, goimports, go-mod-tidy, go-test

refactor: optimize prefix sum calculation in subarraySumPrefixSum function
  docs/checklist/go/README.md
  go/solutions/0560_subarray_sum_equals_k/subarray_sum_equals_k.go
Due: gofumpt, goimports, go-mod-tidy, go-test

refactor: update difference array diagram and replace image format
  docs/patterns/difference_array/difference_array.drawio
  docs/patterns/difference_array/difference_array.webp
Due: none

docs: add explanation for choosing between increasing and decreasing stacks in monotonic stack section
  docs/patterns/monotonic_stack/README.md
Due: none

feat: solved problem #42
  docs/checklist/go/README.md
  go/solutions/0042_trapping_rain_water/trapping_rain_water.go
  go/solutions/0042_trapping_rain_water/trapping_rain_water_test.go
Due: gofumpt, goimports, go-mod-tidy, go-test

fix: update gofumpt and goimports entries to ensure GOPATH is set correctly
  .pre-commit-config.yaml
Due: none

refactor: simplify isPalindromeInPlace by removing nested loops for character filtering
  go/solutions/0125_valid_palindrome/is_palindrome.go
Due: gofumpt, goimports, go-mod-tidy, go-test

docs: add explanations and code examples for #283 and #26
  docs/checklist/go/README.md
Due: none

refactor: rename count to vote in majorityElementBoyerMoore for clarity
  go/solutions/0169_majority_element/majority_element.go
Due: gofumpt, goimports, go-mod-tidy, go-test

docs: enhance descriptions of bitwise operators for clarity
  docs/patterns/bit_manipulation/README.md
Due: none

docs: update and standardize README documentation for Go, and N-sum patterns
  docs/lang/go/README.md
  docs/patterns/n_sum/README.md
Due: none

docs(python): expand Python README with operators, data structures, and formatting
  .prettierignore
  docs/lang/python/README.md
Due: none

docs(checklist): add spaces between CJK and latin/numbers across docs
  docs/algorithms/recursion/README.md
  docs/algorithms/sorting/README.md
  docs/checklist/README.md
  docs/checklist/go/README.md
  docs/checklist/python/README.md
  docs/data_structures/README.md
  docs/data_structures/graph/README.md
  docs/data_structures/linked_list/README.md
  docs/data_structures/queue/README.md
  docs/data_structures/tree/README.md
  docs/index.md
  docs/lang/README.md
  docs/lang/go/README.md
  docs/lang/python/README.md
  docs/math/GCD&LCM/README.md
  docs/patterns/README.md
  docs/patterns/bit_manipulation/README.md
  docs/patterns/power_of_n/README.md
  docs/patterns/prefix_sum/README.md
Due: none

test(python): migrate two_sum and valid_parentheses to pytest
  go/solutions/0069_sqrtx/sqrtx_test.go
  python/pyrightconfig.json
  python/solutions/0001_two_sum/test_two_sum.py
  python/solutions/0020_valid_parentheses/test_valid_parentheses.py
Due: gofumpt, goimports, go-mod-tidy, mypy, pytest, go-test

docs(funding): use absolute URLs for sponsor assets
  .github/FUNDING.yml
  .github/assets/alipay.png
  .github/assets/wechat_pay.png
  SPONSOR.md
Due: none

docs(funding): point sponsor codes to palemoky profile repo
  SPONSOR.md
Due: none

docs: fix typo and remove trailing dash in docs
  docs/algorithms/greedy/README.md
  docs/checklist/go/README.md
Due: none

docs(tree): refine punctuation and add Trie etymology
  docs/data_structures/tree/README.md
Due: none

chore: update giscus configuration to target Announcements category
  docs/overrides/partials/comments.html
Due: none

docs: add practice resources and method comment
  docs/checklist/README.md
  python/solutions/0001_two_sum/two_sum.py
Due: mypy, pytest

docs: update python checklist
  docs/checklist/python/README.md
Due: none

feat: solved problem #560
  python/solutions/0560_subarray_sum_equals_k/solution.py
  python/solutions/0560_subarray_sum_equals_k/test_solution.py
Due: mypy, pytest

feat(two_sum): return indices in encounter order for hashmap solution
  python/solutions/0001_two_sum/two_sum.py
Due: mypy, pytest

docs(checklist): rename freq to count in subarray sum table
  docs/checklist/python/README.md
Due: none
