Repository palemoky/leetcode: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofumpt, goimports, go-mod-tidy, mypy, pytest, go-test, cargo-test

Path conditions:
  gofumpt: any of: ^go/ and \.go$
  goimports: any of: ^go/ and \.go$
  go-mod-tidy: any of: ^go/ and \.go$
  mypy: any of: ^python/ and \.py$
  pytest: any of: ^python/ and \.py$
  go-test: any of: ^go/ and \.go$
  cargo-test: any of: ^rust/

docs: update sorting algorithms documentation and examples
  docs/algorithms/sorting/README.md
Due: none

refactor: rename variable cur to curr in linked list implementations and documentation updates
  docs/algorithms/sorting/README.md
  docs/checklist/go/README.md
  docs/checklist/python/README.md
  docs/patterns/n_sum/README.md
  go/solutions/0023_merge_k_sorted_lists/merge_k_sorted_lists.go
  go/solutions/0025_reverse_nodes_in_k_group/reverse_nodes_in_k_group.go
  go/solutions/0092_reverse_linked_list_ii/reverse_linked_list_ii.go
  go/solutions/0160_intersection_of_two_linked_lists/intersection_of_two_linked_lists_test.go
Due: gofumpt, goimports, go-mod-tidy, go-test

refactor: rename next_node to nxt in reverse linked list solution and update documentation checklists
  docs/checklist/python/README.md
  docs/data_structures/union_find/README.md
  python/solutions/0092_reverse_linked_list_ii/reverse_linked_list_ii.py
Due: mypy, pytest

docs: update python learning checklist with new topics
  docs/checklist/python/README.md
Due: none

docs: update python learning checklist status and progress
  docs/checklist/python/README.md
Due: none

docs: update python learning checklist status in README
  docs/checklist/python/README.md
Due: none

docs: update python learning checklist status and progress tracking
  docs/checklist/python/README.md
Due: none

docs: update python learning checklist with new topics and resources
  docs/checklist/python/README.md
Due: none
