Repository palemoky/leetcode: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofumpt, goimports, go-mod-tidy, mypy, pytest, go-test, cargo-test

gofumpt:
  name: gofumpt (Go Format)
  entry: gofumpt -w
  language: system

goimports:
  name: goimports (Go Imports)
  entry: goimports -w -local github.com/palemoky/leetcode
  language: system

go-mod-tidy:
  name: go mod tidy
  entry: bash -c 'cd go && go mod tidy'
  language: system
  pass_filenames: false

mypy:
  name: mypy (Python Type Check)
  entry: bash -c 'cd python && uv run mypy .'
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest:
  name: pytest (Python Tests)
  entry: bash -c 'cd python && uv run pytest'
  language: system
  stages:
  - pre-push
  pass_filenames: false

go-test:
  name: go test (Go Tests)
  entry: bash -c 'cd go && go test -p 4 ./...'
  language: system
  stages:
  - pre-push
  pass_filenames: false

cargo-test:
  name: cargo test (Rust Tests)
  entry: bash -c 'cd rust && cargo test'
  language: system
  stages:
  - pre-push
  pass_filenames: false

feat: solved problem #49
  python/solutions/0049_group_anagrams/solution.py
  python/solutions/0049_group_anagrams/test_solution.py
Due: mypy, pytest

feat(create_solution): use class-based template for python solutions
  scripts/create_solution.py
Due: none

feat: convert solutions #49 and #560 to class-based template
  python/solutions/0049_group_anagrams/group_anagrams.py
  python/solutions/0049_group_anagrams/solution.py
  python/solutions/0049_group_anagrams/test_group_anagrams.py
  python/solutions/0560_subarray_sum_equals_k/solution.py
  python/solutions/0560_subarray_sum_equals_k/subarray_sum_equals_k.py
  python/solutions/0560_subarray_sum_equals_k/test_subarray_sum_equals_k.py
Due: mypy, pytest

feat(two_sum): return indices in encounter order for hashmap solution
  python/solutions/0001_two_sum/two_sum.py
Due: mypy, pytest

feat(group_anagrams): add type annotations to dict accumulators
  python/solutions/0049_group_anagrams/group_anagrams.py
Due: mypy, pytest

feat: solved problem #11
  python/solutions/0011_container_with_most_water/container_with_most_water.py
  python/solutions/0011_container_with_most_water/test_container_with_most_water.py
Due: mypy, pytest

docs: update python learning checklist in README
  docs/checklist/python/README.md
Due: none

test(python): use parametrized fixtures to cover all solution methods
  python/solutions/0001_two_sum/test_two_sum.py
  python/solutions/0049_group_anagrams/test_group_anagrams.py
  scripts/create_solution.py
Due: mypy, pytest

test(scripts): align python test templates with parametrize style
  python/solutions/0001_two_sum/test_two_sum.py
  python/solutions/0049_group_anagrams/test_group_anagrams.py
  scripts/create_solution.py
Due: mypy, pytest

test(python): instantiate Solution inline in test methods
  python/solutions/0001_two_sum/test_two_sum.py
  python/solutions/0049_group_anagrams/test_group_anagrams.py
  scripts/create_solution.py
Due: mypy, pytest

feat(python): add ListNode and TreeNode test helpers
  python/common/list_node.py
  python/common/tree_node.py
Due: mypy, pytest

feat: solved problem #206
  python/solutions/0206_reverse_linked_list/reverse_linked_list.py
  python/solutions/0206_reverse_linked_list/test_reverse_linked_list.py
Due: mypy, pytest

feat(python): configure mypy namespace packages and reformat ruff select
  python/pyproject.toml
Due: none

feat: solved problem #92
  python/solutions/0092_reverse_linked_list_ii/reverse_linked_list_ii.py
  python/solutions/0092_reverse_linked_list_ii/test_reverse_linked_list_ii.py
Due: mypy, pytest

feat: solved problem #128
  python/solutions/0128_longest_consecutive_sequence/longest_consecutive_sequence.py
  python/solutions/0128_longest_consecutive_sequence/test_longest_consecutive_sequence.py
Due: mypy, pytest

docs: update and standardize structure documentation for arrays and linked lists
  docs/data_structures/array/README.md
  docs/data_structures/linked_list/README.md
  docs/index.md
Due: none

docs: update index and Python checklist documentation
  docs/checklist/python/README.md
  docs/index.md
Due: none

docs: update Python checklist progress in README
  docs/checklist/python/README.md
Due: none

docs: #42
  docs/checklist/python/README.md
Due: none

docs: update #3
  docs/checklist/go/README.md
  docs/checklist/python/README.md
Due: none

refactor: optimize sorting algorithm implementation in sorting.go
  go/sorting/sorting.go
Due: gofumpt, goimports, go-mod-tidy, go-test

docs: add explanations and Go implementation for sorting algorithms
  docs/algorithms/sorting/README.md
  go/sorting/sorting.go
Due: gofumpt, goimports, go-mod-tidy, go-test

fix: update expected output for empty array test case to nil
  go/sorting/sorting_test.go
Due: gofumpt, goimports, go-mod-tidy, go-test

test: remove empty slice test case from sorting suite
  go/sorting/sorting_test.go
Due: gofumpt, goimports, go-mod-tidy, go-test

docs: update recursion documentation with additional explanations and examples
  docs/algorithms/recursion/README.md
Due: none

docs: update sorting algorithm documentation and implement corresponding Go functions
  docs/algorithms/sorting/README.md
  go/sorting/sorting.go
Due: gofumpt, goimports, go-mod-tidy, go-test

docs: update sorting algorithms documentation with additional notes and clarifications
  docs/algorithms/sorting/README.md
Due: none

docs: update sorting algorithm documentation with clarifications and formatting improvements
  docs/algorithms/sorting/README.md
Due: none

docs: update sorting algorithms documentation with additional examples and clarifications
  docs/algorithms/sorting/README.md
Due: none

docs: update sorting algorithms documentation for improved clarity and structure
  docs/algorithms/sorting/README.md
Due: none

docs: update sorting algorithm documentation and examples in README
  docs/algorithms/sorting/README.md
Due: none

docs: update python, go, and tree data structure documentation checklists
  docs/checklist/go/README.md
  docs/checklist/python/README.md
  docs/data_structures/tree/README.md
Due: none

docs: update python learning checklist with new topics
  docs/checklist/python/README.md
Due: none

docs: update python learning checklist with new topics and resources
  docs/checklist/python/README.md
Due: none

docs: update progress checklists for Go and Python solutions
  docs/checklist/go/README.md
  docs/checklist/python/README.md
Due: none

docs: update python checklist and review progress
  docs/checklist/python/README.md
Due: none

docs: update python checklist documentation
  docs/checklist/python/README.md
Due: none

docs: update Python checklist for improved organization and tracking
  docs/checklist/python/README.md
Due: none

Path conditions:
  gofumpt: any of: ^go/ and \.go$
  goimports: any of: ^go/ and \.go$
  go-mod-tidy: any of: ^go/ and \.go$
  mypy: any of: ^python/ and \.py$
  pytest: any of: ^python/ and \.py$
  go-test: any of: ^go/ and \.go$
  cargo-test: any of: ^rust/
