Repository palemoky/leetcode: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofumpt, goimports, go-mod-tidy, mypy, pytest, go-test, cargo-test

Path conditions:
  gofumpt: any of: ^go/ and \.go$
  goimports: any of: ^go/ and \.go$
  go-mod-tidy: any of: ^go/ and \.go$
  mypy: any of: ^python/ and \.py$
  pytest: any of: ^python/ and \.py$
  go-test: any of: ^go/ and \.go$
  cargo-test: any of: ^rust/

ci: remove `go test -p 4`
  .pre-commit-config.yaml
Due: none

chore: remove rust
  .github/workflows/leetbot.yml
  .gitignore
  .pre-commit-config.yaml
  README.md
  rust/Cargo.lock
  rust/Cargo.toml
  rust/src/0001_two_sum/two_sum.rs
  rust/src/main.rs
Due: cargo-test

docs: add difference array
  core/patterns/difference_array/README.md
Due: none

docs: add prefix sum
  core/patterns/prefix_sum/README.md
Due: none

docs: add backtracking
  core/algorithms/backtracking/README.md
  core/algorithms/backtracking/README.zh-CN.md
Due: none

docs: add dp
  core/algorithms/dp/README.md
  core/algorithms/dp/README.zh-CN.md
Due: none

docs: add core README
  core/README.md
Due: none

feat: solved problem #303
  go/solutions/0303_range_sum_query_immutable/sum_range.go
  go/solutions/0303_range_sum_query_immutable/sum_range_test.go
Due: gofumpt, goimports, go-mod-tidy, go-test

chore: remove comment
  go/solutions/0303_range_sum_query_immutable/sum_range_test.go
Due: gofumpt, goimports, go-mod-tidy, go-test

feat: solved problem #304
  go/solutions/0304_range_sum_query_2d_immutable/sum_range.go
  go/solutions/0304_range_sum_query_2d_immutable/sum_range_test.go
Due: gofumpt, goimports, go-mod-tidy, go-test

docs: update prefix sum
  core/patterns/prefix_sum/1.png
  core/patterns/prefix_sum/2.png
  core/patterns/prefix_sum/3.png
  core/patterns/prefix_sum/4.png
  core/patterns/prefix_sum/README.md
Due: none

ci: update golangci
  go/.golangci.yml
Due: none

ci: fix python lint
  python/.python-version
  python/0001_two_sum/test_two_sum.py
  python/0001_two_sum/two_sum.py
  python/0020_valid_parentheses/test_valid_parentheses.py
  python/0020_valid_parentheses/valid_parentheses.py
  python/pyproject.toml
  python/uv.lock
Due: mypy, pytest

chore: add python cache directory to `.gitignore`
  .gitignore
Due: none

feat: solved problem #110
  go/solutions/0110_balanced_binary_tree/is_balanced.go
  go/solutions/0110_balanced_binary_tree/is_balanced_test.go
Due: gofumpt, goimports, go-mod-tidy, go-test

feat: solved problem #543
  go/solutions/0543_diameter_of_binary_tree/diameter_of_binary_tree.go
  go/solutions/0543_diameter_of_binary_tree/diameter_of_binary_tree_test.go
Due: gofumpt, goimports, go-mod-tidy, go-test

feat: solved problem #322
  go/solutions/0322_coin_change/coin_change.go
  go/solutions/0322_coin_change/coin_change_test.go
Due: gofumpt, goimports, go-mod-tidy, go-test

docs: add python README.md
  python/README.md
Due: none

ci: update `pyproject.toml`
  python/pyproject.toml
  python/uv.lock
Due: none

refactor: Add type hints to variables and test methods.
  python/0001_two_sum/test_two_sum.py
  python/0001_two_sum/two_sum.py
  python/0020_valid_parentheses/test_valid_parentheses.py
  python/0020_valid_parentheses/valid_parentheses.py
Due: mypy, pytest

chore: Update GitHub Actions versions for checkout, setup-go, cache, and setup-uv.
  .github/workflows/leetbot.yml
Due: none

ci: Migrate Go linting to golangci-lint, introduce gofumpt for Go formatting, and update uv sync to use `--group`.
  .github/workflows/leetbot.yml
  .pre-commit-config.yaml
Due: none

docs: update prefix sum pattern explanation in README.
  core/patterns/prefix_sum/README.md
  core/patterns/prefix_sum/add_top_left.png
  core/patterns/prefix_sum/bottom_right.png
  core/patterns/prefix_sum/subtract_left.png
  core/patterns/prefix_sum/subtract_top.png
Due: none

docs: update prefix sum README
  core/patterns/prefix_sum/README.md
Due: none

refactor: move diagrams to respective solution directories
  go/solutions/0024_swap_nodes_in_pairs/0024_swap_nodes_in_pairs.drawio
  go/solutions/0043_multiply_strings/0043_multiply_strings.drawio
  go/solutions/0142_find_linked_list_cycle_entry/0142_find_linked_list_cycle_entry.drawio
  go/solutions/0739_daily_temperatures/0739_daily_temperatures.drawio
  go/solutions/0746_min_cost_climbing_stairs/0746_min_cost_climbing_stairs.drawio
  go/solutions/2073_time_needed_to_buy_tickets/2073_time_needed_to_buy_tickets.drawio
Due: none

docs: udpate prefix sum
  core/patterns/prefix_sum/README.md
  core/patterns/prefix_sum/comparison.png
  core/patterns/prefix_sum/prefix_sum.drawio
Due: none

docs: resize linked list image width to 60%
  core/data_structures/linked_list/README.md
Due: none

docs: udpate difference array
  core/patterns/difference_array/README.md
  core/patterns/difference_array/difference_array.drawio
  core/patterns/difference_array/difference_array.png
  core/patterns/difference_array/increment.png
  core/patterns/difference_array/restore_from_diff.png
Due: none

docs: update prefix sum array
  core/README.md
  core/patterns/prefix_sum/README.md
Due: none

feat: solved problem #1094
  go/solutions/1094_car_pooling/car_pooling.go
  go/solutions/1094_car_pooling/car_pooling_test.go
Due: gofumpt, goimports, go-mod-tidy, go-test

docs: update difference array
  core/README.md
  core/patterns/difference_array/README.md
  core/patterns/difference_array/difference_array.drawio
  core/patterns/difference_array/increment.png
  go/solutions/1094_car_pooling/car_pooling.go
Due: gofumpt, goimports, go-mod-tidy, go-test

ci: replace go version with go.mod
  .github/workflows/leetbot.yml
  .gitignore
Due: none

chore: update .gitignore
  .gitignore
Due: none

feat: solved problem #370
  go/solutions/0370_range_addition/range_addition.go
  go/solutions/0370_range_addition/range_addition_test.go
Due: gofumpt, goimports, go-mod-tidy, go-test

ci: fix golangci v2
  .github/workflows/leetbot.yml
Due: none

docs: update difference array
  core/patterns/difference_array/README.md
  go/solutions/0235_lowest_common_ancestor_of_a_binary_search_tree/lowest_common_ancestor.go
Due: gofumpt, goimports, go-mod-tidy, go-test

ci: update golangci
  go/.golangci.yml
  go/solutions/1694_reformat_phone_number/reformat_number.go
Due: gofumpt, goimports, go-mod-tidy, go-test

docs: trigger ci
  go/solutions/1694_reformat_phone_number/reformat_number.go
Due: gofumpt, goimports, go-mod-tidy, go-test

feat: add GitHub Pages deployment for core documentation
  .github/workflows/docs.yml
  .gitignore
  mkdocs.yml
Due: none
